@{
    ViewBag.Title = "O aplikacji";
}
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <p class="lead">
        Aplikacja została stworzona, aby przyśpieszyć i wspomóc obsługę klientów siłowni. <br />
        Cały system powstał w opraciu o technologię <mark>ASP.NET MVC 5</mark>. <br />
        Całość działa na serwerze lokalnym <b>IIS</b>, z bazą danych opartą o <b>MS SQL Server Express 2017</b>. <br />
        Aplikacja wykorzystuje wtyczki biblioteki <b>jQuery</b> oraz <b>Modernizr</b>. <br />
        Terminarz zajęć (kalendarz) działa w opraciu o skrypt <b>FullCalendar.js</b>. <br />
        Dodatkowo system wspiera responsywne strony internetowe dzięki frameworkowi <b>Bootstrap 4</b>. <br />
        Strona została napisana w <b>HTML5</b> wraz z arkuszem stylów <b>CSS3</b>.
    </p>
</div>