@using Microsoft.AspNet.Identity
@using GymApp.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    @if (User.IsInRole("Trener"))
                    {
                        <text>Rola: Trener </text>
                    }

                    @if (User.IsInRole("Administrator"))
                    {
                        <text>Rola: Administrator</text>
                    }
                </a>
            </li>
            <li>
                <a href="#"> @User.Identity.GetUserName()</a>
            </li>
                @if(!User.IsInRole("Administrator"))
                {
                    <li>

                        <a href="#">
                            Karnet Ważny:
                            <span>
                                @if (!string.IsNullOrEmpty(User.Identity.GetTicket()))
                                {

                                    var asignedTo = DateTime.Parse(User.Identity.GetTicket());

                                    if (asignedTo > DateTime.Now)
                                    {
                                        @asignedTo
                                    }
                                    else
                                    {
                                        <text> <span class="danger">Wygasło dnia: @asignedTo </span></text>
                                    }
                                }
                                else
                                {
                                    <text>Brak Karnetu</text>
                                }
                            </span>
                        </a>
                    </li>
                }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj się", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
