<script>

    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action(MVC.Home.GetEvents())",
             method: "get",
            success: function (data) {



                $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'agendaWeek,agendaDay'
            },
            defaultDate: "@DateTime.Now.ToString("dd-MM-yyyy")",
                    navLinks: true, // can click day/week names to navigate views
                    selectable: false,
                    selectHelper: false,
                    defaultView: 'agendaWeek',
                    eventClick: function (calEvent, jsEvent, view) {



                            $.ajax({
                                url: "@Url.Action(MVC.Home.JoinLesson())?lessonId=" + calEvent.id,
                                method: "get",
                                success: function (data) {
                                    alert("Dołączyłeś do wydarzenia");
                                    location.reload();
                                    }
                            });



                    },
            eventLimit: true, // allow "more" link when too many events
            events: data

        });



             }
                    });




    });



</script>
<style>



    #calendar {
        max-width: 900px;
        margin: 0 auto;
        margin-top: 400px;
    }
</style>


<div id='calendar'></div>
