<script>

    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action(MVC.Home.GetEvents())",
             method: "get",
            success: function (data) {



                $('#calendar').fullCalendar({
                    minTime: "8:00:00",
                    maxTime: "22:00:00",
                    locale: 'pl',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                    },
                    navLinks: true, // can click day/week names to navigate views
                    selectable: false,
                    selectHelper: false,
                    defaultView: 'agendaWeek',
                    eventClick: function (calEvent, jsEvent, view) {



                            $.ajax({
                                url: "@Url.Action(MVC.Home.UserJoinedToLesson())?lessonId=" + calEvent.id,
                                method: "get",
                                success: function (data) {
                                    if (data.msg == true) {
                                                        $.ajax({
                                            url: "@Url.Action(MVC.Home.JoinLesson())?lessonId=" + calEvent.id,
                                            method: "get",
                                            success: function () {
                                                alert("Dołączyłeś do zajęć");
                                            location.reload();
                                            }
                                        });
                                    }
                                    else
                                    {
                                        alert("Już jesteś zapisany na te zajęcia");
                                    }

                                    }
                                });
                                

                    },
            eventLimit: true, // allow "more" link when too many events
            events: data

        });



             }
                    });




    });



</script>
<div id='calendar'></div>
<style>
    #calendar {
        padding-top: 100px;
        max-width: 900px;
        margin: 0 auto;
    }
</style>
