<script>

    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action(MVC.TrainerSchedule.GetEvents())",
             method: "get",
            success: function (data) {



                $('#calendar').fullCalendar({
                    minTime: "8:00:00",
                    maxTime: "22:00:00",
                    locale: 'pl',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'agendaWeek,agendaDay'
            },
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
                    selectHelper: true,
                    defaultView: 'agendaWeek',
            select: function (start, end) {
                var title = prompt('Nazwa zajęć:');
                var eventData;
                if (title) {
                    eventData = {
                        title: title,
                        start: moment(start).format("YYYY-MM-DD hh:mmA"),
                        end: moment(end).format("YYYY-MM-DD hh:mmA")
                    };

                    $.ajax({
                        url: "@Url.Action(MVC.TrainerSchedule.CreateLesson())",
                        method: "post",
                        data: eventData,
                        success: function () {
                            location.reload();
                        }
                    });
                }
                $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                $('#calendar').fullCalendar('unselect');
                

                
                    },
                    eventClick: function (calEvent, jsEvent, view) {

                      

                            $.ajax({
                                url: "@Url.Action(MVC.TrainerSchedule.CanDelete())?id=" + calEvent.id,
                                method: "get",
                                success: function (data) {
                                    if (data) {
                                        var result = confirm("Czy napewno chcesz Usunąć zajęcia:" + calEvent.title)
                                        if (result) {
                                            $.ajax({
                                                url: "@Url.Action(MVC.TrainerSchedule.Delete())?id=" + calEvent.id,
                                                method: "get",
                                                success: function () {
                                                    location.reload();
                                                }
                                            })
                              
                                        }
                                    }
                                }
                            });



                    },
            eventLimit: true, // allow "more" link when too many events
            events: data
             
        });



             }
                    });


        

    });

    

</script>
<style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
        margin-top:100px;
    }
</style>
<div id='calendar'></div>
